
{% extends "layout.html" %}

{% block title %}Planets{% endblock %}

{% block content %}

    <section class="container">

        <div class="row">

            <div class="col-sm-12" id="planets">

                <h2>Planets</h2>

                {% if page.prev %}
                    <button type="submit" id="prev" data-prev="{{ url_for('planets', page=page.current|int - 1) }}">Previous</button>
                {% endif %}
                {% if page.next %}
                <button type="submit" id="next" data-next="{{ url_for('planets', page=page.current|int + 1) }}">Next</button>
                {% endif %}

                <div id="table-info">
                    <span>{{ page.displayed_planets }} of {{ page.total }} items</span>
                </div>

                <table>

                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Diameter</th>
                            <th>Climate</th>
                            <th>Gravity</th>
                            <th>Terrain</th>
                            <th>Water</th>
                            <th>Population</th>
                            <th>Residents</th>
                            {% if session.user_name %}
                            <th>Vote</th>
                            {% endif %}
                        </tr>
                    </thead>

                    <tbody>
                        {% for planet in planets %}
                        <tr>
                            <td>{{ planet.name }}</td>
                            <td>{{ planet.diameter }}</td>
                            <td>{{ planet.climate }}</td>
                            <td>{{ planet.gravity }}</td>
                            <td>{{ planet.terrain }}</td>
                            <td>{{ planet.surface_water }}</td>
                            <td>{{ planet.population }}</td>

                            <td>
                                {% if planet.residents %}
                                <a class="residents" data-residents="{{ planet.residents }}">
                                    {{ planet.residents|length }} {{ 'resident' if planet.residents|length == 1 else 'residents' }}
                                </a>
                                {% else %}
                                No known residents
                                {% endif %}
                            </td>

                            {% if session.user_name %}
                            <td>
                                <a class="vote-btn {{ planet.voted }}" data-planet-name="{{ planet.name }}">Vote</a>
                            </td>
                            {% endif %}

                        </tr>
                        {% endfor %}
                    </tbody>

                </table>

            </div>

        </div>

    </section>

    <section class="row">
        <div id="modal">
            <div class="container" id="modal-content">
                <span class="close">&times;</span>
            </div>
        </div>
    </section>

{% endblock %}
