
<!DOCTYPE html>
<html lang="en">

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

    <link rel="shortcut icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon.ico')}}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}{% endblock %} - Star Wars Universe</title>

</head>

<body>

    <header class="container">
        <div class="row">
            <h1 class="col-sm-4">Star Wars Universe</h1>
            <nav class="col-sm-8 text-right">

                <p><a href="{{ url_for('planets') }}">planets</a></p>
                <p><a id="stats-menu">statistics</a></p>

                {% if session.user_name %}
                <p>{{ session.user_name }}</p>
                <p><a href="{{ url_for('logout') }}">logout</a></p>
                {% else %}
                <p><a href="{{ url_for('register') }}">sign up</a></p>
                <p><a href="{{ url_for('login') }}">login</a></p>
                {% endif %}
    
            </nav>
        </div>
	</header>

    <!-- Error messages in a loop with classes: error, success -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <section class="row">
            <div class="container">
                <div class="col-sm-12">
                {% for category, message in messages %}
                    <p class="{{ category }}">{{ message }}</p>
                {% endfor %}
                </div>
            </div>
        </section>
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

    <footer class="container">
        <div class="row">
            <p class="col-sm-12" id="footer">&copy; 2017 LucasArts</p>
        </div>
    </footer>

</body>
</html>
