
{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block content %}

    <section class="container">

        <div class="row">

            <div class="col-sm-12" id="register">

                <h2>Register</h2>

                <form action="{{ url_for('register') }}" method="POST">

                    <label for="user_name">User Name</label>
                    <input type="text" name="user_name" id="user_name" required minlength="4" maxlength="16">

                    <label for="password_1">Password</label>
                    <input type="text" name="password_1" id="password_1" required minlength="4" maxlength="16">

                    <label for="password_2">Password Confirmation</label>
                    <input type="text" name="password_2" id="password_2" required minlength="4" maxlength="16">

                    <input type="submit" value="Register">

                </form>

            </div>

        </div>

    </section>

    <section class="row">
        <div id="modal">
            <div class="container" id="modal-content">
                <span class="close">&times;</span>
            </div>
        </div>
    </section>

{% endblock %}
